.add-payment-form {
  margin-bottom: 30px;

  .card {
    padding: 2rem 1.5rem;
  }

  .card-info__title {
    margin-bottom: 1.75rem;
  }

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 35%) 1fr;
    // grid-template-rows: 1fr 1fr;
    flex-flow: row wrap;
    grid-template-areas:
      " description description . "
      " category cost submit ";
    grid-gap: 30px;

    label {
      font-size: 20px;
      margin-right: 15px;
    }

    input,
    select {
      width: 100%;
      border: none;
      padding: 5px 12px;
      border-bottom: 1px solid rgba(#272727, 0.22);
      transition: all ease 0.125s;

      &:focus {
        margin-bottom: -10px;
        padding-bottom: 15px;
        border-bottom: 2px solid orange;
        outline: none;
      }

      &[type="submit"] {
        width: 150px;
        height: 45px;
        border: none;
        background: $main-green;
        color: #fff;
        font-weight: 700;
        justify-self: flex-end;
        &:focus {
          padding: 0;
          margin: 0;
        }

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    select {
      appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
      background: none;
      position: relative;
    }
    .form-group {
      display: flex;
      align-items: center;
    }

    .form__description {
      grid-area: description;

      label {
        padding-bottom: 5px;
      }
    }
    .form__category {
      grid-area: category;
    }
    .form__cost {
      grid-area: cost;
    }
    .form__submit {
      grid-area: submit;
    }
  }
}
